@media(min-width:1400px) {
    .container {
        max-width: 1224px;
    }
}

@media(min-width:1700px) {
    .container {
        max-width: 1424px;
    }

}

.blackbg {
    background: var(--black100);
    font-family: "PT Sans", sans-serif;

    h2,
    h3 {
        font-family: 'PowerGrotesk';
        font-weight: 500;
    }

    .sn3 {
        font-family: 'PowerGrotesk';
        font-weight: 500;
        color: var(--dark);
        font-size: 48px;
        line-height: 120%;
    }
}


:root {
    --lime: #CDF765;
    --black100: #0F0F10;
    --black95: #141414;
    --gray80: #4B4B4B;
    --gray10: #E7EAEC;

    // --
    --dark: #141414;
    --dark-grey: #858B89;
    --light-grey: #EDEFEE;

    --grey: #CFD1CC;





    // anim
    --color-bg1: rgb(15, 15, 16);
    --color-bg2: rgb(15, 15, 16);
    --color1: 147, 255, 235;
    --color2: 147, 255, 235;
    --color3: 205, 247, 101;
    --color4: 147, 255, 235;
    --color5: 205, 247, 101;
    --color-interactive: 205, 247, 101;
    --circle-size: 80%;
    --blending: hard-light;
}

:root {
    scroll-behavior: inherit;
}

body,
html {
    height: 100%;
    margin: 0;
}

body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #0F0F10;
    background-image: url('../images/general/grid.png');
    background-repeat: repeat;
}

body * {
    line-height: 150%;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.text-end {
    text-align: right;
}

.text-start {
    text-align: left;
}

.container-customleft {
    padding-left: calc((100vw - 1200px)/2);
}

h3,
.titleh3,
h2,
.titleh2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
}

.stitle {
    text-align: left;
    margin: 0;
    color: var(--dark);
    font-size: 48px;
    line-height: 120%;
    font-family: 'PowerGrotesk';
    font-weight: 500;

    &.white {
        color: #fff;
    }
}

.limebtn {
    border: 1px solid var(--lime);
    background: var(--lime);
    min-height: 48px;
    max-width: 185px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black100);
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    transition: 0.3s;

    img {
        margin-left: 6px;
    }

    &:hover {
        box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
    }
}


@mixin gradient-subtitle {
    // background: linear-gradient(125.34deg, #B1FFDE 10%, #D9FF6F 40%);
    background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 33.63%, #93FFEB 101.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-subtitle2 {
    background: linear-gradient(125.34deg, #B1FFDE 70%, #D9FF6F 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-text1 {
    background: linear-gradient(125.34deg, #CDFF7C 0%, #8CFFAC 10.63%, #93FFEB 51%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 100%;
    -webkit-transition: background-position 0.5s ease;
    transition: background-position 0.5s ease;
    background-position: 0 0;

    &:hover {
        background-position: 100% 0;
    }
}

@mixin bodytext3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
}

@mixin bodytext4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
}

.section-subtitle {
    span {
        @include gradient-subtitle;
        display: inline-block;
    }

    text-align: center;
    text-transform: uppercase;
    line-height: 130%;
}

.borderbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(77.09deg, #cdff7c 28.29%, #8cffac 87.22%);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--lime);
    width: 100%;
    min-height: 67px;
    max-width: 285px;
    padding: 5px 10px;
    background: var(--black100);
    transition: 0.3s;

    &:hover {
        background: var(--lime);
        color: vaR(--black100);
        box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
    }
}


// -----------------
.white-arrbtn {
    background: #fff;
    border-radius: 8px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    transition: 0.3s;

    img {
        margin-left: 4px;
        margin-top: -1px;
    }

    &:hover {
        background: var(--lime);
    }
}

.greenborder-btn {
    height: 44px;
    background: transparent;
    border: 1px solid var(--lime);
    border-radius: 8px;
    min-width: 250px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    color: #fff;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    transition: 0.3s;

    img {
        margin-left: 4px;
        margin-top: -1px;
        transition: 0.5s;
    }

    &:hover {
        background: var(--lime);
        color: var(--dark);

        img {
            filter: brightness(0);
        }
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.section-subtitle {
    text-transform: uppercase;
    color: var(--dark-grey);
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 16px;
}

.section-group {
    &.white {
        background: #fff;
        border-radius: 20px;
    }

    &.p120 {
        padding: 120px 0 125px;
    }
}


@media(max-width:1399.8px) {
    .section-subtitle {
        font-size: 14px;
    }

    .titleh2,
    .titleh3,
    h2,
    h3 {
        font-size: 40px;
    }
}

@media(max-width:575.8px) {

    .titleh2,
    .titleh3,
    h2,
    h3 {
        font-size: 32px;
    }

    .section-subtitle {
        font-size: 12px;
    }

    .borderbtn {
        min-height: 56px;
        max-width: 100%;
    }
}

// Повторювані блоки
@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    50% {
        transform: translateX(50%) translateY(10%);
    }

    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100vw;
    height: calc(100vh + 20px);
    position: absolute;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    right: 0;
    opacity: 0.7;

    .svgBlur {
        display: none;
    }

    .noiseBg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        mix-blend-mode: soft-light;
        opacity: 0.3;
    }

    .gradients-container {
        filter: blur(40px);
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: center center;
        animation: moveVertical 30s ease infinite;

        opacity: 0.6;
    }

    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);

        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);

        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;

        opacity: 0.7;
    }

    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);
        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;
        opacity: 0.6;
    }

    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;
        opacity: 0.6;
    }

    .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));
        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;
        opacity: 0.6;
    }

    .interactive {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;
        opacity: 0.7;
    }
}

// Баттон
.button-container-1 {
    display: inline-flex;
    position: relative;
    width: 200px;
    height: 47px;
    overflow: hidden;
    // border: 1px solid #fff;
    transition: 0.5s;
    border-radius: 8px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;

    &.darkbtn {
        // #0F0F10
        // color: #fff;
    }
}

.button-container-1 .masshover {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    background: #fff;
    -webkit-mask: url("../images/general/nature-sprite.png");
    mask: url("../images/general/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: var(--dark);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;


    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container-1 .masshover:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.mas {
    position: absolute;
    text-align: center;
    width: 101%;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #CDF765;
}


.button-container-1.darkbtn .masshover {
    background: #0F0F10;
    color: #fff;
    border: 1px solid var(--lime);
    border-radius: 8px;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

a {
    color: #00ff95;
}

