// hero section

.herosection {
    position: relative;
    height: 100vh;

    .container {
        position: relative;
        z-index: 2;
    }
}

.herosection__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.herosection__wrapper {
    min-height: 700px;
    padding: 175px 0 140px;
    height: 100vh;
    display: flex;
    align-items: center;
    // flex-direction: column;
    // justify-content: space-between;
}

.herosection__topinfo {
    margin-top: -150px;
    width: 100%;

    h1 {
        color: #fff;
        line-height: 125%;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 24px;

        i {
            font-style: normal;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: calc(100% + 50px);
                height: 60px;
                background: url('../images/main/titlebgel.png') no-repeat center / 100%;
                position: absolute;
                left: -20px;
                bottom: -30px;

            }
        }
    }

    p {
        @include bodytext3;
        margin-bottom: 40px;
    }

    a {
        background: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 48px;
        border: 1px solid #fff;
        padding: 4px 32px;
        color: #000;
        font-weight: 700;
        line-height: 130%;
        transition: 0.3s;

        &:hover {
            background: var(--lime);
            border-color: var(--lime);
            box-shadow: 0px 8px 20px rgba(67, 253, 130, 0.25), 0px 26px 50px #2f463a;
        }
    }
}

.herosection__bottinfo {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;

    p {
        margin: 0;
        color: #828282;
        font-weight: 500;
        line-height: 135%;

        a {
            @include gradient-text1;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            margin-right: 48px;

            img {
                max-height: 100px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

// Featured clients

.clientsslider {
    padding: 40px 0;

    p {
        font-weight: 700;
        line-height: 135%;
        margin: 0;
        color: #fff;
    }

    .brandsslider {
        .swiper-slide {
            width: auto;

            .brandblock {
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 50px;
            }

            img {
                max-height: 40px;
            }
        }
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }
}

// expertise

.expertise {
    padding: 100px 0;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(#0F0F10, 0.8) 50%, rgba(19, 19, 20, 0) 100%);

    .section-subtitle {
        margin-bottom: 80px;

        span {
            @include gradient-subtitle2;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .col {
        transition: 0.5s;
        animation-timing-function: ease-in-out;
    }

    .col.active {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;

        .imgwrap {
            .title {
                transition-delay: 0.1s;
            }
        }
    }
}

.expertise__box {
    height: 310px;
    border-radius: 36px;
    border: 1px solid rgba(#E1FF8C, 0.1);
    transition: 0.3s;
    position: relative;
    padding: 56px 30px 20px 30px;
    background: var(--black100);
    overflow: hidden;
    transition: 0.3s;

    .imgwrap {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .title {
            transform: translateX(calc(100% + 70px));
            animation-timing-function: ease-in-out;
            transition: 0.5s;
            position: relative;
            text-align: left;
            width: 100%;
            max-width: calc(100% - 88px);
            flex: 0 0 calc(100% - 88px);
            padding-left: 24px;
            font-size: 24px;
            line-height: 140%;
        }
    }

    .imgwrap img {
        position: relative;
        width: 100%;
        max-width: 88px;
        flex: 0 0 88px;
        height: 88px;
        left: 50%;
        margin-left: -44px;
        transition: 0.4s;
        margin-bottom: 24px;
    }

    .title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        margin: 0;
        transition: 0.5s;

        &.v1 {
            background: linear-gradient(125.34deg, #CDFFCF 30%, #A6E9FF 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &.v2 {
            background: linear-gradient(125.34deg, #FEC0D7 30%, #C7C6FD 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &.v3 {
            background: linear-gradient(125.34deg, #C6C8FD 30%, #9FE3F8 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .descr {
        position: relative;
        overflow: hidden;
        transition: 0.3s;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            position: absolute;
            width: 100%;
            left: 0;

        }

        p:not(.title) {
            transition: 0.3s;
            transition-delay: 0s;
            color: #EDEFEE;
            @include bodytext4;
            transform: translateY(200px);
            margin: 0;
        }
    }

}

.col.active {
    .expertise__box {
        padding: 56px 56px 20px 56px;

        img {
            left: 0;
            margin-left: 0;
        }

        &>.title {
            transform: translateX(-400px);
        }
    }

    .imgwrap {
        .title {
            transform: translateX(0);
            font-size: 32px;
        }
    }

    .descr {
        transform: translateY(0);

        .title {
            // left: -100%;
            opacity: 0;
            // transition-delay: 0.3s;
            transform: translateX(100%);
        }

        p {
            transform: translateY(0);
        }
    }

    p:not(.title) {
        transition-delay: 0.5s;
    }

}

.expertise__boxbg {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s;
}

.col.active .expertise__boxbg {
    opacity: 1;
}

// Clients’ success stories
.projectssection {
    padding: 120px 0 110px;

    h3 {
        margin-bottom: 80px;
    }

    .explore {
        color: var(--lime);
        font-size: 18px;
        line-height: 130%;
        font-weight: 700;
        display: inline-block;
        padding-right: 36px;
        position: relative;
        transition: 0.3s;

        &::after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('../images/general/button-arrow.svg') no-repeat center / 100%;
        }

        &::before {
            content: '';
            display: block;
            height: 1px;
            background: var(--lime);
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            transition: 0.3s;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }

    .projectsbtns .swiper-wrapper {
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .projectsbtns .swiper-slide {
        width: auto;
    }

}

.prbtn {
    display: inline-flex;
    align-items: center;
    margin-right: 44px;
    padding-bottom: 5px;
    cursor: pointer;

    .imgwrap {
        width: 40px;
        height: 40px;
        position: relative;
        display: inline-block;

        img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.3s;

            &:nth-child(1) {
                opacity: 0;
            }
        }
    }

    span {
        display: inline-block;
        padding-left: 12px;
        color: var(--gray80);
        line-height: 135%;
        font-size: 18px;
        font-weight: 700;
        transition: 0.3s;
    }

    &:hover,
    &.active {
        border-bottom: 1px solid #CDF765;

        .imgwrap {
            img {
                &:nth-child(1) {
                    opacity: 1;
                }

                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }

        span {
            color: #ffff;
        }
    }

}

.projectssection__bottom {
    padding-top: 64px;
}

.projectsslidewrapper {
    .imgwrapper {
        position: relative;

        img {
            position: relative;
            z-index: 2;

        }
    }

    .description {
        .title {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .flag {
                width: 100%;
                max-width: 32px;
                flex: 0 0 32px;

                img {
                    vertical-align: top;
                }
            }

            .name {
                padding-left: 16px;
                font-size: 32px;
                font-weight: 700;
                line-height: 135%;
                color: #fff;
            }
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 8px;

            span {
                display: inline-block;
                padding: 8px 12px;
                background: rgba(#3A3946, 0.5);
                color: #fff;
                font-weight: 600;
                font-size: 12px;
                margin-right: 16px;
                margin-bottom: 8px;
            }
        }

        .descr {
            margin-bottom: 30px;

            p {
                @include bodytext4;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .bottinfo {
            p {
                @include bodytext4;
                margin: 0;
            }

            .bititle {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 4px;
                font-size: 20px;
                line-height: 140%;
                font-weight: 700;
                display: inline-block;
                background: linear-gradient(125.34deg, #CDFF7C 10%, #8CFFAC 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .col-xl-6:nth-child(1) {
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 57px;
                    background: linear-gradient(transparent 0%, #E7EAEC 50%, transparent 100%);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%)
                }
            }

            .col-xl-6:nth-child(2) {
                padding-left: 52px;
            }

            .limebtn {
                margin-top: 32px;
            }
        }


    }

    // .shadowelement {
    //     height: 190px;
    //     width: 60%;
    //     display: block;
    //     position: absolute;
    //     right: 0;
    //     left: 0;
    //     top: 15%;
    //     margin: 0 auto ;
    // }
}

.mySwiper2 {
    overflow: initial;
}

.projbtns {
    .swiper-slide {
        width: auto;
    }
}

// development process
.devprocess {
    padding: 120px 0;

    h2 {
        margin-bottom: 40px;
    }
}

.devprocslider {
    padding: 48px 0;
    position: relative;
}

.devprocslide {
    text-align: center;

    span {
        display: block;
        font-weight: 700;
        font-size: 90px;
        line-height: 135%;
        background: linear-gradient(180deg, #333334 0%, #1A1A1C 50%, #1E1E20 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        margin: 0;
        color: #fff;
        line-height: 130%;
        font-weight: 700;
        font-size: 16px;
    }
}

.sliderwrapper {
    position: relative;
}

.devprocsliderline.st5 {
    max-width: 877px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 2;
    margin-top: -25px;

    span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
    }

    .line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, transparent 0%, #fff, transparent 100%);

    }
}

// Testimonials
.testimonials {
    padding: 120px 0;

    .section-subtitle,
    h3 {
        text-align: left;
    }

    h3 {
        margin-bottom: 0;
    }
}

.testimonials__body {
    padding-top: 80px;
}

.testimonialblock {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(130deg, #CDFF7C 0%, #8CFFAC 46%, #93FFEB 99%);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 487px;
    background: rgba(#131315, 0.7);

    .testimonialblock__top {
        .ava {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        p {
            @include bodytext3;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .testimonialblock__bott {
        .ratingbox {
            display: flex;
            align-items: center;
            margin-bottom: 48px;

            span {
                width: 100%;
                max-width: 30px;
                flex: 0 0 30px;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 100%;
            }

            .stars {
                width: 100%;
                max-width: calc(100% - 30px);
                flex: 0 0 calc(100% - 30px);
                padding-left: 6px;
                display: flex;
                align-items: center;

                img {
                    width: 32px;
                    margin-right: 6px;
                }
            }
        }

        .authorname {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 135%;
            margin: 0;
        }
    }
}

// Our team expertise
.teamexpertise {
    padding: 120px 0 0 0;

    h3 {
        margin-bottom: 80px;
    }
}

.teamexpslider {
    padding-bottom: 120px;
}

.teamexpslide {
    position: relative;
    cursor: pointer;

    img {
        filter: grayscale(1);
        transition: 0.5s;
        width: 100%;
        animation-timing-function: ease-in-out;
        vertical-align: top;
        position: relative;
        z-index: 2;
    }

    p {
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 16px;
        width: 100%;
        min-height: 48px;
        color: #fff;
        filter: drop-shadow(0 0 12px rgba(#000, 0.96));
        text-align: center;
        font-size: 18px;
        line-height: 135%;
        font-weight: 700;
        z-index: 3;
    }

    &:hover {
        img {
            filter: grayscale(0);
        }

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        opacity: 0;
        background: radial-gradient(50% 50% at 50% 50%, #C9FA3D 0%, rgba(135, 163, 49, 0.45) 52.08%, rgba(32, 29, 29, 0) 100%);
        -webkit-filter: blur(51px);
        filter: blur(51px);
        width: 204px;
        height: 204px;
        position: absolute;
        bottom: -50px;
        z-index: 1;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.expertise__num {
    position: absolute;
    z-index: 2;
    right: 32px;
    bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: #EDEFEE;
}

// Our clients were featured in
.clieintsin {
    padding: 120px 0;

    h3 {
        margin-bottom: 80px;
    }
}

.clieintsin__row {
    border: 0.5px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);

    .clieintsin__box {
        border-right: 1px solid #DBFF74;
        height: 257px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: var(--black100);
    }
}

// Latest stories
.twocol__topsect {
    margin-bottom: 80px;
}

.twocol__topsect .section-subtitle,
.twocol__topsect h3 {
    text-align: left;
}

.twocol__topsect h3 {
    margin-bottom: 0;
}

.lateststories {
    padding-bottom: 120px;

    .borderbtn {
        max-width: 183px;
    }
}

.postbox {
    background: #fff;
    height: 408px;
    position: relative;

    &:hover {
        .postbox__body {
            height: 100%;

            .description {
                opacity: 1;
            }
        }
    }
}

.postbox__img {
    display: block;
    height: 158px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.postbox__body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 158px);
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;

    .postbox__bodycontent {
        padding: 16px 8px 0 8px;
        height: calc(100% - 50px);

        .tags {
            margin-bottom: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            a {
                font-size: 14px;
                color: var(--gray80);
                display: inline-block;
                margin-right: 6px;
            }
        }

        .title {
            color: var(--black100);
            line-height: 135%;
            font-size: 20px;
            font-weight: 700;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .description {
            opacity: 0;
            transition: 0.5s;
            padding-top: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .postbox__bodyinfo {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        position: relative;
        z-index: 2;

        .authot {
            width: 100%;
            max-width: calc(100% - 92px);
            flex: 0 0 calc(100% - 92px);
            margin: 0;
            color: var(--black100);
            font-size: 14px;
            line-height: 135%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .time {
            width: 100%;
            max-width: 92px;
            flex: 0 0 92px;
            margin: 0;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray10);
            color: var(--black100);
            font-size: 12px;
            font-weight: 700;
        }
    }
}

// DROP US
.dropussection {
    padding: 120px 0;
}

.dropusblock {
    border-radius: 24px;
    border: 1px solid rgba(140, 255, 172, 0.2);
    background: rgba(#0F0F10, 0.9);
    box-shadow: 0 4px 11px rgba(#000, 0.4);
    padding: 40px;
}

.dropusblock__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    p {
        max-width: 550px;
        color: #EDEFEE;
        @include bodytext3;
    }

    .title {
        margin-bottom: 32px;
        font-size: 40px;
        font-weight: 700;
        line-height: 135%;
    }

    a {

        span {
            font-size: 32px;
            line-height: 135%;
            @include gradient-text1;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #a9ff97;
                transition: 0.3s;
            }
        }

        img {
            max-width: 48px;
            vertical-align: bottom;
            margin-bottom: -2px;
            transition: 0.3s;
        }

        &:hover {
            img {
                animation: arrowmove 2s infinite;
            }

            span {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes arrowmove {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

// faq

.faqsection {
    padding: 120px 0 120px;
    background: rgba(#0F0F10, 0.9);

    .section-subtitle {
        text-align: left;
    }

    h3 {
        text-align: left;
        font-size: 40px;
    }
}

.faqrow {
    position: relative;
    margin-bottom: 16px;
    border: 0.5px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(180deg, rgba(219, 255, 116, 0.1) 0%, rgba(255, 255, 255, 0) 100%);

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/general/noise.png), #09090A;
        opacity: 0.8;
    }
}

.faq__header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 10px 32px;
    min-height: 88px;
    cursor: pointer;

    p {
        margin: 0;
        padding-right: 50px;
        color: #fff;
        line-height: 130%;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
    }

    .faqstatusicon {
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: inline-block;
            width: 35px;
            height: 1.5px;
            background: linear-gradient(-180deg, #D9FF6F 40%, #B1FFDE 60%);
            position: absolute;
            transition: 0.3s;

            &:nth-child(2) {
                transform: rotate(-90deg);
            }
        }
    }

    &.active {
        .faqstatusicon {
            span {
                &:nth-child(2) {
                    transform: translate(0);
                }
            }
        }
    }
}

.faqbody {
    position: relative;
    z-index: 2;
    padding: 8px 22px 32px 32px;
    display: none;

    p {
        margin: 0;
        @include bodytext3;
        color: #EDEFEE;
    }
}

.borderbtn.mob {
    display: none;
}

@media(min-width:1700px) {
    .devprocsliderline.st5 {
        max-width: 1090px;
    }
}

@media(max-width:1399.8px) {

    .herosection__topinfo {
        h1 {
            font-size: 48px;
        }

        p {
            max-width: 636px;
        }
    }

    .herosection__bottinfo {
        bottom: 20px;
    }

    .container-customleft {
        padding-left: calc((100vw - 1140px) / 2);
    }

    .expertise__box {
        height: 290px;
    }

    .col.active .expertise__box {
        padding: 48px 48px 20px 48px;
    }

    .projectssection {
        padding: 80px 0 100px;
    }

    .herosection__bottinfo ul li {
        margin-right: 32px;

        img {
            max-height: 72px;
        }
    }

    .projectsslidewrapper .description .tags span {
        &:last-child {
            margin-right: 0;
        }
    }

    .testimonialblock {
        height: 426px;
    }

    .testimonialblock .testimonialblock__top p {
        -webkit-line-clamp: 7;
    }

    .clieintsin__row .clieintsin__box {
        height: 238px;
    }

    .postbox {
        height: 396px;
    }

    .dropusblock__left .title {
        font-size: 32px;
    }

    .dropusblock__left p {
        font-size: 14px;
    }

    .lateststories {
        padding-bottom: 100px;
    }

    .faqsection h3 {
        font-size: 38px;
    }

    .herosection__topinfo p {
        font-size: 14px;
    }

    .dropussection {
        padding: 100px 0;
    }

    .expertise__box .descr .title {
        font-size: 20px;
    }

    .herosection__bottinfo p,
    .testimonialblock .testimonialblock__top p {
        font-size: 14px;
    }

}

@media(max-width:1199.8px) {

    .herosection__topinfo h1 {
        font-size: 42px;
    }

    .herosection__topinfo p {
        max-width: 511px;
    }

    .herosection__bottinfo ul li {
        margin-right: 25px;
    }

    .container-customleft {
        padding-left: calc((100vw - 960px) / 2);
    }

    .expertise {


        .scrollwrapper {
            overflow: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {}

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
            }
        }

        .container {
            max-width: 100%;
            padding: 0;


            .row {
                max-width: initial;
                width: calc(960px + 200px);
                padding-left: calc((100vw - 960px) / 2);
            }
        }
    }

    .projectsslidewrapper {
        .col-xl-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .projectsslidewrapper .imgwrapper {
        text-align: center;
        margin-bottom: 40px;
    }

    .devprocsliderline.st5 {
        max-width: 790px;
    }

    .testimonialblock .testimonialblock__bott .ratingbox .stars img {
        width: 24px;
    }

    .teamexpertise {
        padding-top: 80px;
    }

    .postbox__body .postbox__bodycontent .description p {
        font-size: 14px;
    }

    .dropusblock__left .title br {
        display: none;
    }

    .lateststories {
        padding-bottom: 80px;
    }

    .expertise .section-subtitle {
        margin-bottom: 64px;
    }

    .expertise,
    .projectssection,
    .devprocess,
    .testimonials,
    .clieintsin,
    .dropussection,
    .faqsection {
        padding: 80px 0;
    }
}

@media(max-width:991.8px) {
    .herosection__bg {
        object-position: 55% 0;
    }

    .herosection__topinfo {
        margin-top: 0;
    }

    .herosection__wrapper {
        align-items: flex-start;
        padding-top: 196px;
    }

    .herosection__topinfo h1 {
        font-size: 40px;

        i {
            &::after {
                width: calc(100% + 140px);
            }
        }
    }

    .herosection__topinfo p {
        margin-bottom: 32px;
    }

    .herosection__topinfo a {
        min-width: 216px;
    }

    .herosection__bottinfo {
        .col-xl-5 {
            order: 2;
        }

        .col-xl-7 {
            order: 1;
        }

        p {
            text-align: center;
            font-size: 16px;
        }
    }

    .herosection__bottinfo ul {
        justify-content: center;
        margin-bottom: 30px;

        li {
            margin-right: 48px;

            &:last-child {
                img {
                    max-height: 100px;
                }
            }
        }
    }

    .clientsslider .brandsslider .swiper-slide .brandblock {
        padding: 0 40px;
    }

    .clientsslider {
        padding: 50px 0;
    }

    .container-customleft {
        padding-left: calc((100vw - 700px) / 2);
    }

    .expertise .container .row {
        padding-left: calc((100vw - 700px) / 2);
    }

    .devprocsliderline.st5 {
        right: initial;
        left: 20%;
        width: 1000px;
        max-width: initial;
        display: block;

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &:nth-child(n+4) {
                display: none;
            }

            &:nth-child(1) {
                left: 0;
            }

            &:nth-child(2) {
                left: 21%;
            }

            &:nth-child(3) {
                left: 45%;
            }
        }
    }

    .testimonials,
    .lateststories {
        h3 {
            margin-bottom: 40px;
        }

        .text-end {
            text-align: left !important;
        }
    }

    .testimonialblock {
        padding: 16px;
    }

    .testimonialblock .testimonialblock__bott .authorname {
        font-size: 15px;
    }

    .teamexpslide {
        height: 398px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .clieintsin {
        .col {
            width: 100%;
            max-width: 33.333%;
            flex: 0 0 33.333%;

            &:nth-child(4),
            &:nth-child(5) {
                width: 100%;
                max-width: 50%;
                flex: 0 0 50%;

                .clieintsin__box {
                    border-top: 1px solid #DBFF74;
                }

            }

            &:nth-child(3),
            &:nth-child(5) {
                .clieintsin__box {
                    border-right: none;
                }
            }
        }
    }

    .postbox {
        margin-bottom: 24px;
    }

    .dropusblock__left {
        .title {
            font-size: 40px;
        }

        p {
            margin-bottom: 0;
        }

        .textinfo {
            margin-bottom: 80px;
        }
    }

    .dropusblock {
        .imgwrap {
            img {
                width: 100%;
                margin-top: 32px;
            }
        }
    }

    .faqsection h3 {
        font-size: 40px;
    }

    .projectssection h3,
    .clieintsin h3,
    .twocol__topsect {
        margin-bottom: 64px;
    }
}

@media(max-width:767.8px) {

    .herosection__wrapper {
        padding-top: 150px;
    }

    .container-customleft {
        padding-left: calc((100vw - 520px) / 2);
    }

    .expertise .container .row {
        padding-left: calc((100vw - 520px) / 2);
    }

    .clientsslider .brandsslider .swiper-slide .brandblock {
        padding: 0 16px;
    }

    .expertise .container .row {
        width: 1060px;
    }

    .projectssection__top {
        .col-xl-3 {
            order: 1;
            text-align: center;
            margin-bottom: 48px;
        }

        .col-xl-9 {
            order: 2;
        }

    }

    .devprocsliderline.st5 span:nth-child(2) {
        left: 16%;
    }

    .devprocsliderline.st5 span:nth-child(3) {
        left: 34%;
    }

    .devprocslider {
        padding: 0;
    }

    .testimonialblock {
        height: auto;
        margin-bottom: 20px;
    }

    .expertise .col.active,
    .expertise .col {
        max-width: 300px;
        flex: 0 0 300px;
    }

    .expertise .col.active {
        .expertise__box {
            padding: 24px;

            img {
                margin-left: 0;
            }
        }
    }

    .expertise .col {
        .expertise__box {
            padding: 80px 24px 24px 24px;

            img {
                margin-left: -34px;
            }
        }

    }

    .expertise__box {

        height: 354px;

        .imgwrap {
            align-items: center;
            margin-bottom: 6px;

            img {
                max-width: 68px;
                flex: 0 0 68px;
                margin: 0;
            }

            .title {
                max-width: calc(100% - 68px);
                flex: 0 0 calc(100% - 68px);
                padding-left: 13px;
                font-size: 24px !important;
            }


        }
    }

    .col.active p:not(.title) {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .expertise .section-subtitle,
    .teamexpertise h3 {
        margin-bottom: 56px;
    }
}

@media(max-width:575.8px) {
    .herosection {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.6);
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .herosection__wrapper {
        padding-top: 100px;
    }

    .herosection__topinfo h1 i:after {
        bottom: 22px;
    }

    .herosection__topinfo {
        margin-bottom: 40px;

        h1 {
            max-width: 340px;
        }

        p {
            margin-bottom: 40px;
        }
    }

    .herosection {
        min-height: 100vh;
        height: auto;
    }

    .herosection__wrapper {
        height: auto;
        min-height: 100vh;
        padding-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .herosection__bottinfo {
        position: relative;
        bottom: 0;
    }

    .herosection__bg {
        -o-object-position: 55% 0;
        object-position: 62% 0;
    }

    .herosection__bottinfo ul {
        justify-content: space-between;
        margin-bottom: 20px;

        li {
            margin-right: 0;

            img {
                max-height: initial;
                height: 40px;

            }
        }
    }

    .herosection__bottinfo ul li:last-child img {
        max-height: initial;
        height: 69px;
    }

    .container-customleft,
    .expertise .container .row {
        padding-left: 12px;
    }

    .projectssection__top .col-xl-3 {
        margin-bottom: 40px;
    }

    .prbtn {
        margin-right: 40px;
    }

    .projectsslidewrapper .description .title .name {
        font-size: 24px;
    }

    .projectssection .limebtn {
        max-width: 100%;
    }

    .devprocess {

        .section-subtitle,
        h3 {
            text-align: left;
        }
    }

    .devprocess .swiper-wrapper {
        display: block;

        .swiper-slide:last-child {
            .devprocslide {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }
    }

    .devprocsliderline.st5 {
        display: none;
    }

    .devprocslide {
        text-align: left;
        padding-left: 90px;
        padding-bottom: 47px;

        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 100%;
            background: rgba(#fff, 0.2);
            position: absolute;
            left: 54px;
            top: 80px;
        }

        span {
            position: relative;
            font-size: 104px;

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: linear-gradient(125.34deg, #CDFF7C 14.35%, #8CFFAC 54.63%, #93FFEB 101.27%);
                position: absolute;
                left: -45px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        p {
            br {
                display: none;
            }
        }
    }

    .testimonials {
        .borderbtn {
            display: none;

            &.mob {
                display: flex;
            }
        }

        h3 {
            margin-bottom: 56px;
        }
    }

    .testimonials__body {
        padding-top: 0;
    }

    .testimonialblock {
        padding: 40px 15px 24px 15px;
    }

    .testimonialblock .testimonialblock__top .ava {
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
    }

    .testimonialblock .testimonialblock__top p {
        line-height: 160%;
        color: #EDEFEE;
        margin-bottom: 13px;
    }

    .testimonialblock .testimonialblock__bott .ratingbox {
        margin-bottom: 13px;
    }

    .testimonialblock .testimonialblock__bott .authorname {
        font-size: 16px;
    }

    .expertise .container .row {
        width: 930px;
    }

    .testimonials {
        .borderbtn {
            margin-top: 35px;
        }
    }

    .teamexpslide {
        height: 248px;

        p {
            font-size: 16px;
            bottom: 10px;
        }
    }

    .teamexpertise {

        .section-subtitle,
        h3 {
            text-align: left;
        }
    }

    .clieintsin .col {
        width: 100%;
        max-width: 100% !important;
        flex: 0 0 100% !important;

        .clieintsin__box {
            border-right: none;
            border-top: 1px solid #DBFF74;
        }

        &:nth-child(1) {
            border-top: none;
        }
    }

    .clieintsin__row .clieintsin__box {
        height: 162px;
    }

    .clieintsin__row {
        max-width: 274px;
        margin: 0 auto;
    }

    .lateststories .borderbtn {
        max-width: 100%;
    }

    .postbox__body .postbox__bodycontent {
        padding: 14px 24px 0;
    }

    .postbox__body .postbox__bodyinfo {
        padding: 0 24px;
    }

    .dropusblock {
        padding: 30px 35px 0;
    }

    .dropusblock__left {
        text-align: center;
        display: block;

        .title {
            text-align: center;
            margin-bottom: 19px;
            font-size: 24px;
        }

        p {
            font-size: 16px;
            text-align: left;
        }

        .textinfo {
            margin-bottom: 23px;
        }

        a {
            span {
                font-size: 18px;
                font-weight: 600;
            }

            img {
                width: 29px;
            }
        }

    }

    .faqsection h3 {
        font-size: 32px;
        margin-bottom: 56px;
    }

    .faq__header {
        min-height: 68px;
        padding: 8px 60px 8px 16px;
    }

    .faq__header {
        .faqstatusicon {
            width: 30px;
            height: 30px;
            right: 16px;

            span {
                width: 24px;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .faqbody {
        padding: 8px 16px 16px 16px;

        p {
            font-size: 14px;
        }
    }

    .projectssection {
        padding-bottom: 40px;
    }

    .clieintsin h3,
    .projectssection h3,
    .twocol__topsect {
        margin-bottom: 56px;
    }

    .expertise {
        padding-bottom: 60px;
    }

    .lateststories__boxy {
        .col-lg-3 {

            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }
        }
    }

    .expertise,
    .clieintsin, .devprocess, .dropussection, .expertise, .faqsection, .projectssection, .testimonials {
        padding: 60px 0;
    }

    .teamexpertise {
        padding-top: 60px;
    }



 
}