:root {
    --color-bg1: rgb(15, 15, 16);
    --color-bg2: rgb(15, 15, 16);
    --color1: 147, 255, 235;
    --color2: 147, 255, 235;
    --color3: 205, 247, 101;
    --color4: 147, 255, 235;
    --color5: 205, 247, 101;
    --color-interactive: 205, 247, 101;
    --circle-size: 80%;
    --blending: hard-light;
}

.ccontact-section {
    padding: 180px 0 160px;
    background: var(--black100);
    position: relative;
    font-family: "PT Sans", sans-serif;

    .container {
        position: relative;
        z-index: 2;
    }

    .gradient-bg {
        height: 100%;

        .g1 {
            left: initial;
            right: 0;
        }

        .g2 {
            width: 50%;
            height: 50%;
            left: initial;
            right: 15%;
        }

        .g3 {
            left: initial;
            right: 15%;
        }

        .g5 {
            display: none;
        }
    }
}

.ccontact-section__left {
    .title {
        font-family: 'PowerGrotesk';
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 20px;
        color: #fff;
    }

    .description {
        max-width: 401px;
        margin-bottom: 54px;
        color: var(--dark-grey);
    }

    ul {
        li {
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-family: 'PowerGrotesk';
                font-weight: 500;
                font-size: 20px;
                color: var(--grey);
                padding-left: 44px;
                position: relative;
                transition: 0.3s;

                img {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: 3px;
                }

                &:hover {
                    color: var(--lime);
                }
            }
        }
    }

}

.ccontact-section__count {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 418px;
    margin-bottom: 160px;

    .item {
        width: 100%;
        max-width: 94px;
        flex: 0 0 94px;

        span {
            display: block;
            color: var(--lime);
            font-size: 40px;
            font-weight: 500;
            font-family: 'PowerGrotesk';
        }

        p {
            margin: 0;
            color: var(--dark-grey);
            font-size: 14px;
            line-height: 140%;
        }
    }
}

.ccontact-section__tabheader {
    button {
        color: var(--light-grey);
        font-size: 24px;
        line-height: 130%;
        font-family: 'PowerGrotesk';
        font-weight: 500;
        padding: 10px 60px 10px 60px;
        cursor: pointer;
        position: relative;

        &.active {
            background: rgba(#141414, 0.6);
            border-radius: 20px 20px 0 0;
            backdrop-filter: blur(20px);
            color: var(--lime);
        }

        &:nth-child(1) {
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: -20px;
                    bottom: 0;
                    background: url('../images/contacts/border-element.png') no-repeat left bottom / 100%;
                }
            }
        }

        &:nth-child(2) {
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    right: -20px;
                    bottom: 0;
                    background: url('../images/contacts/border-element.png') no-repeat left bottom / 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -20px;
                    bottom: 0;
                    background: url('../images/contacts/border-element.png') no-repeat left bottom / 100%;
                    transform: rotateZ(270deg);
                }
            }
        }



    }
}

.ccontact-section__tabbody {
    background: rgba(#141414, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 0 20px 20px 20px;
    position: relative;
    padding: 90px 64px 100px;

    &.second {
        border-radius: 20px;
    }

    form {
        .inputbox {
            margin-bottom: 55px;

            input,
            textarea {
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 1px solid #303030;
                height: 40px;
                transition: 0.3s;
                color: #fff;
                font-size: 16px;
                font-family: "PT Sans", sans-serif;

                &:focus {
                    border-color: #858B89;
                }

                &:not(:placeholder-shown) {
                    border-color: #858B89;
                }

                &::placeholder {
                    color: var(--dark-grey);
                }
            }

            textarea {
                resize: none;
                outline: none;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--lime);
                    border-radius: 5px;
                }
            }

            &.error {
                input {
                    border-color: #C1272D;
                }

                p {
                    margin: 4px 0 0 0;
                    color: #C1272D;
                    font-size: 12px;
                }
            }
        }

        .white-arrbtn {
            width: 100%;
            margin-top: 15px;
            cursor: pointer;
        }
    }

    .selectwrap {

        .select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            border-radius: 0;
            background: transparent;
            border: none;
            border-bottom: 1px solid #303030;
            height: 40px;
        }

        .select2-container--open .select2-selection--single {
            border-bottom: 1px solid #858B89;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered,
        .select2-container--default .select2-selection--multiple .select2-selection__rendered {
            line-height: 40px;
            padding-left: 0;
            color: #fff;
            padding-right: 50px;
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder,
        .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
            color: rgba(135, 135, 135, 1);
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow,
        .select2-container--default .select2-selection--multiple .select2-selection__arrow {
            background: url(../images/contacts/select-arr.svg) no-repeat center / 100%;
            height: 36px;

            b {
                display: none;
            }
        }

        .select2-container--default .select2-search--inline .select2-search__field {
            color: rgb(135, 135, 135);
            font-family: "ruberoid";
            height: 20px;
        }

        .select2-selection--multiple:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: url(../img/selectarrow.svg) no-repeat center / 100%;
            width: 20px;
            height: 100%;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background: transparent;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0;
            margin-bottom: 2px;
            height: 32px;
        }

    }
}

.socselectdd {

    .flag-icon-1,
    .flag-icon-2,
    .flag-icon-3,
    .flag-icon-4,
    .flag-icon-5 {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    .flag-icon-1 {
        background: url('../images/contacts/tg.svg') no-repeat center / 100%;
    }

    .flag-icon-2 {
        background: url('../images/contacts/wa.svg') no-repeat center / 100%;
    }

    .flag-icon-3 {
        background: url('../images/contacts/wc.svg') no-repeat center / 100%;
    }

    .flag-icon-4 {
        background: url('../images/contacts/sc.svg') no-repeat center / 100%;
    }

    .select2-dropdown {
        background: #0F0F10;
        border: none;
        border-radius: 8px;
        overflow: hidden;
        padding: 8px 0;
        top: 5px;

        li {
            position: relative;
            padding: 8px 32px 8px 48px;
            color: #fff;
            font-size: 16px;
            font-family: "PT Sans", sans-serif;

            .selimg {
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }


}

.select2-container--default.socselectdd .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: transparent;
    color: var(--lime);
}

.select2-container--default.socselectdd .select2-results__option--selected {
    background-color: transparent;
    color: var(--lime);
    background-image: url('../images/contacts/check-lime.svg');
    background-repeat: no-repeat;
    background-position: center right 16px;
    background-size: 18px;
}

.ccontact-section__imgs {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
        // filter: grayscale(1);
        transition: 0.3s;

        img {
            max-height: 80px;
        }

        &:hover {
            filter: grayscale(0);
        }
    }
}

.ccontact-section__tabcontent {
    .row.shedrow {
        margin-left: -39px;
        margin-right: -39px;

        .col-lg-6 {
            padding-left: 39px;
            padding-right: 39px;
        }
    }

    &.hide {
        display: none;
    }
}

.shedulebox {
    .avablock {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        background: #232222;
        border: 4px solid var(--lime);
        margin-bottom: 40px;
    }

    .name {
        color: #fff;
        font-size: 24px;
        line-height: 130%;
        font-family: 'PowerGrotesk';
        font-weight: 500;
        margin: 0;

        img {
            display: inline-block;
            width: 21px;
            vertical-align: middle;
            margin-top: -7px;
            margin-left: 4px;
        }
    }

    .proff {
        color: var(--light-grey);
        font-size: 18px;
        line-height: 135%;
        font-family: "PT Sans", sans-serif;
        margin-bottom: 16px;
    }

    .descr {
        margin-bottom: 44px;
        color: var(--dark-grey);
        font-size: 16px;
        max-width: 250px;
    }

    .shedcall {
        background: #fff;
        height: 44px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dark);
        font-size: 16px;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        margin-bottom: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: var(--lime);
        }
    }

    .contacttext {
        color: #fff;
        font-size: 16px;
        padding-left: 28px;
        position: relative;

        img {
            width: 20px;
            position: absolute;
            left: 0;
            top: 2px;
        }

        a {
            text-decoration: underline;
            color: var(--lime);

            &:hover {
                text-decoration: none;
            }
        }
    }

}

.ccontact-section__tabcontent .button-container-1 {
    width: 100%;
}

.ccontact-section__count.mob {
    display: none;
}











// background: url(../images/contacts/select-arr.svg) no-repeat center / 100%;

.socialnickname {
    display: flex;
    align-items: center;
    position: relative;

    input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #303030;
        height: 40px;
        transition: 0.3s;
        color: #fff;
        font-size: 16px;
        font-family: "PT Sans", sans-serif;
        padding-right: 70px;
        transition: 0.3s;

        &:focus {
            border-color: #858B89;
        }
    }

    .socialnickname__field {
        width: 58px;
        position: absolute;
        right: 0;
        right: 0;
    }

    .socialnickname__selected {
        position: relative;
        cursor: pointer;

        img {
            width: 24px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url('../images/contacts/select-arr.svg') no-repeat center / 100%;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .socialnickname__list {
        position: absolute;
        width: 100%;
        top: calc(100% + 7px);
        z-index: 2;
        display: none;

        ul {
            padding: 8px 16px;
            background: #0F0F10;
            list-style-type: none;
            border-radius: 8px;

            li {
                font-size: 16px;
                color: #fff;
                line-height: 200%;
                padding: 5px 0;
                cursor: pointer;
                transition: 0.3s;
                position: relative;

                img {
                    vertical-align: middle;
                    margin-top: -3px;
                    margin-right: 8px;
                }

                &:hover, &.active {
                    color: #C9FA3D;
                }

                &.active {
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: url('../images/contacts/check.svg') no-repeat center / 100%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    
}

.socialnickname .socialnickname__list {
    width: 327px;
    right: 0;
}

@media(max-width:1699.8px) {
    .socialnickname .socialnickname__list {
        width: 269px;
    }
}

@media(max-width:1440.8px) {
    .ccontact-section {
        padding: 160px 0 160px;
    }
}

@media(max-width:1399.8px) {
    .ccontact-section__left .description {
        max-width: 343px;
    }

    .ccontact-section__left .ccontact-section__count {
        margin-bottom: 123px;
    }

    .ccontact-section__tabbody {
        padding: 64px 32px;
    }

    .shedulebox .avablock {
        margin: 0 auto 20px;
    }

    .shedulebox .descr {
        margin-bottom: 32px;
    }

    .shedulebox .contacttext {
        margin: 0;
    }

}

@media(max-width:1199.8px) {

    .ccontact-section__tabheader button {
        padding: 10px 40px;
        font-size: 21px;
    }

    .ccontact-section__tabcontent .row.shedrow {
        margin-left: -15px;
        margin-right: -15px;

        .col-lg-6 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}

@media(max-width:991.8px) {

    .ccontact-section {
        padding: 160px 0;
    }

    .ccontact-section__left {
        .row {

            .col-md-12,
            .col-lg-12 {
                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(3) {
                    order: 2;
                }
            }
        }
    }

    .ccontact-section__left {
        .description {
            margin-bottom: 64px;
            max-width: 305px;
        }

        ul {
            padding-top: 45px;
        }
    }

    .ccontact-section__left ul li {
        margin-bottom: 20px;
    }

    .ccontact-section__left .ccontact-section__count {
        max-width: 100%;
    }

    .ccontact-section__left .ccontact-section__count .item {
        max-width: 161px;
        flex: 0 0 161px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span {
            flex: 1 0 0%;
            text-align: right;
            max-width: 60px;
        }

        p {
            flex: 1 0 0%;
            padding-left: 12px;
        }
    }

    .ccontact-section__tabheader button {
        font-size: 24px;
        padding: 10px 50px;
    }

    .ccontact-section__tabbody {
        padding: 80px 67px 100px;
    }

    .ccontact-section__tabcontent .row.shedrow {
        margin-left: -20px;
        margin-right: -20px;

        .col-md-6 {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .ccontact-section__left .ccontact-section__count {
        margin-bottom: 90px;
    }

}

@media(max-width:767.8px) {
    .ccontact-section__tabheader button {
        font-size: 21px;
        padding: 10px 40px;
    }

    .ccontact-section__tabcontent .row.shedrow .col-md-6:nth-child(1) {
        margin-bottom: 50px;
    }

    .ccontact-section__left .ccontact-section__count {
        display: none;
    }

    .ccontact-section__count.mob {
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ccontact-section__left .description {
        margin-bottom: 0;
    }

    .ccontact-section__left {
        margin-bottom: 40px;
    }

    .socialnickname {
        margin-bottom: 55px;
    }
}

@media(max-width:575.8px) {
    .ccontact-section {
        padding: 140px 0 120px;
    }

    .ccontact-section__left .title {
        font-size: 34px;
    }

    .ccontact-section__left .description {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .ccontact-section__left .row .col-lg-12:nth-child(1) {
        order: 1;
    }

    .ccontact-section__left .row .col-md-12:nth-child(2) {
        order: 2;
    }

    .ccontact-section__left .row .col-lg-12:nth-child(3) {
        order: 3;
    }

    .ccontact-section__left .ccontact-section__count .item {

        span {
            flex: initial;
            max-width: 100%;
            text-align: left;
        }

        p {
            padding-left: 0;
            flex: initial;
        }
    }

    .ccontact-section__left .ccontact-section__count .item {
        max-width: 94px;
        flex: 0 0 94px;
    }

    .ccontact-section__left .ccontact-section__count {
        margin-bottom: 64px;
    }

    .ccontact-section__left ul {
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;

            a {
                font-size: 20px;
                padding-left: 30px;
            }
        }
    }

    .ccontact-section__left ul li a img {
        width: 24px;
    }

    .ccontact-section__tabheader button {
        font-size: 20px;
        line-height: 135%;
        padding: 10px 23px;
    }

    .ccontact-section__tabbody {
        padding: 52px 40px 66px 40px;
    }

    .ccontact-section__tabbody form .inputbox {
        margin-bottom: 32px;
    }

    .ccontact-section__imgs a img {
        max-height: 55px;
        max-width: 150px;
    }

    .ccontact-section__imgs {
        padding: 0 12px;
    }

    .ccontact-section__left .ccontact-section__count {
        display: none;
    }

    .ccontact-section__count{
        display: none;

        &.mob  {
            padding: 40px 12px 0 12px;
            display: flex;
            margin-bottom: 0;
        }
    }

    .socialnickname .socialnickname__list {
        width: calc(100vw - 40px);
    }

    .socialnickname {
        margin-bottom: 35px;
    }
}

@media(max-width:479.8px) {
    .ccontact-section__left ul li a {
        font-size: 18px;
    }

    .ccontact-section .mbfw {
        padding: 0;
    }

    .ccontact-section__tabheader {
        display: flex;

        button {
            font-size: 18px;
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .ccontact-section__tabheader button:nth-child(2).active:after {
        display: none !important;
    }

    .ccontact-section__tabbody.second {
        border-radius: 20px 0 20px 20px;
    }

    .ccontact-section__tabbody {
        padding: 45px 20px 66px 20px;
    }

    .shedulebox .proff {
        margin-bottom: 0;
    }

    .shedulebox {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .avablock {
            margin: 0;
            order: 2;
            width: 100%;
            max-width: 90px;
            height: 90px;
        }

        .advinf {
            order: 1;
            width: 100%;
            max-width: calc(100% - 90px);
            flex: 0 0 calc(100% - 90px);
            padding-right: 10px;
        }

        .descr {
            order: 3;
            margin-top: 16px;
            max-width: 100%;
            flex: 0 0 100%;
            width: 100%;
        }

        .shedcall {
            order: 4;
            max-width: 100%;
            flex: 0 0 100%;
            width: 100%;
        }

        .contacttext {
            order: 5;
        }



    }

    .ccontact-section__tabcontent .row.shedrow .col-md-6:first-child {
        margin-bottom: 60px;
    }

}

@media(max-width:360.8px) {
    .ccontact-section__left ul li {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .ccontact-section__left {
        margin-bottom: 80px;
    }
}