.ebookhero {
    position: relative;
    padding: 125px 0 70px;

    .gradient-bg {
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.ebookhero__info {

    .tags {
        margin-bottom: 40px;

        a {
            display: inline-block;
            color: #CFD1CC;
            padding: 4px 12px;
            border-radius: 100px;
            background: rgba(#CDF765, 0.1);
            margin-right: 12px;
            margin-bottom: 4px;
        }
    }

    h1 {
        color: #fff;
        font-size: 40px;
        font-weight: 500;
        font-family: 'PowerGrotesk';
        margin-bottom: 24px;
        line-height: 100%;
    }

    p {
        color: #CFD1CC;
        max-width: 387px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ebookhero__imgwrap {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.ebookhero__form {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    max-width: 350px;
    width: 100%;
    display: inline-block;
    text-align: left;

    .title {
        color: #141414;
        font-size: 20px;
        line-height: 135%;
        font-weight: 500;
        font-family: 'PowerGrotesk';
        margin-bottom: 24px;
    }
}

.inputebfield {
    margin-bottom: 16px;

    input {
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1px solid #CFD1CC;
        font-size: 16px;
        font-family: "PT Sans", sans-serif;
        transition: 0.3s;

        &:focus {
            border-color: #141414;
        }

        &::placeholder {
            color: #858B89;

        }
    }
}

.checkebfield {
    margin-bottom: 16px;

    input {
        display: none;

        &:checked+label {
            &::after {
                background: url('../images/ebook/check.png') no-repeat center / 16px;
            }
        }
    }

    label {
        display: block;
        position: relative;
        margin: 0;
        padding-left: 28px;
        color: #858B89;
        font-size: 14px;
        cursor: pointer;

        &::after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #858B89;
            border-radius: 4px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.ebsubmit {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background: #CDF765;
    height: 44px;
    color: #141414;
    font-size: 16px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #141414;
        color: #fff;
    }

}

.ebookssection {
    margin-top: -15px;
    border-radius: 20px 20px 0 0;
    background: #EDEFEE;
    position: relative;
    z-index: 2;
    padding: 80px 0 140px;
}

.ebookssection__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    h4 {
        width: 100%;
        max-width: calc(100% - 210px);
        flex: 0 0 calc(100% - 210px);
        margin: 0;
        color: #0F0F10;
        font-size: 32px;
        font-weight: 500;
        font-family: 'PowerGrotesk';
    }

    .ebookssection__header-select {
        width: 100%;
        max-width: 210px;
        flex: 0 0 210px;

        .select2.select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--single {
            background: transparent;
            border: 1px solid #CFD1CC;
            border-radius: 8px;
            height: 40px;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 40px;
            padding-left: 16px;
            color: #858B89;
            font-size: 16px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px;
            right: 16px;
            width: 24px;
            background: url('../images/ebook/select-arrow.svg') no-repeat center / 100%;

            b {
                display: none;
            }
        }




        // select-arrow
    }

}

.select2-dropdown {
    margin-top: 4px;
    border-radius: 8px;
    border: none;
}

.select2-results__option {
    padding: 8px 20px;
}

.select2-results__options {
    li {
        font-size: 14px;
        font-family: "PT Sans", sans-serif;
        color: #141414;
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #f0f0f0;
    color: #141414;
}

.select2-container--open .select2-dropdown {
    border-radius: 8px;
    overflow: hidden;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 288px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e6e6e6;
    }
}

.ebook-item {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    color: #303030;
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 11px 25px 0px #6E6E6E1A;
    }

    .imgwrap {
        height: 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .description {
        padding: 24px 32px 32px 32px;

        .topimfo {
            margin-bottom: 16px;

            span {
                margin-right: 16px;
                color: #858B89;
                font-size: 14px;
                line-height: 140%;


                &:last-child {
                    margin-right: 0;
                }
            }
        }

        h6 {
            margin-bottom: 8px;
            color: #141414;
            font-size: 20px;
            line-height: 135%;
            font-weight: 500;
            font-family: 'PowerGrotesk';
        }

        p {
            margin: 0;
            font-size: 14px;
        }
    }
}

.ebookssection__body {
    .col-xl-4 {
        margin-bottom: 20px;
    }
}

.ebpagination {
    text-align: center;
    margin-top: 20px;

    ul {
        display: inline-flex;

        li {
            a {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #8E8E8E;
                border-radius: 8px;
                transition: 0.3s;

                &:hover {
                    color: #141414;
                }
            }

            span {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            &.active {
                a {
                    background: #fff;
                }
            }

            &:nth-child(1),
            &:last-child {
                a {
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:nth-child(1) {
                margin-right: 16px;
            }

            &:last-child {
                margin-left: 16px;
            }
        }
    }
}

.subscribenews-wrapper {
    margin-top: 80px;
}

.subscribenews {
    padding: 44px 64px;
    border-radius: 12px;
    background: linear-gradient(85.8deg, #CDF765 5.2%, #BDFF88 43.14%, #93FFEB 94.88%);


    h3 {
        color: #141414;
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 500;
        font-family: 'PowerGrotesk';
        text-align: left;
    }

    p {
        color: #303030;
        margin: 0;
        font-size: 16px;
    }
}

.subscribenews__form {

    form {
        display: flex;
        flex-wrap: wrap;
    }

    .inputfield {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        padding-right: 32px;

        input {
            width: 100%;
            height: 44px;
            border: none;
            border-bottom: 1px solid #858B89;
            background: transparent;
            font-size: 16px;
            font-family: "PT Sans", sans-serif;
            color: #141414;
            transition: 0.3s;

            &:focus {
                border-bottom: 1px solid #141414;
            }

            &::placeholder {
                color: #858B89;
            }
        }
    }

    .subscribenews__btn {
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;
        background: #fff;
        height: 44px;
        border-radius: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #141414;
        font-size: 16px;
        font-weight: 700;
        font-family: "PT Sans", sans-serif;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: #141414;
            color: #fff;
        }
    }
}

// ---------
.ebooksingle {
    background: #EDEFEE;
    padding: 134px 0 20px;
}

.breadcrumbbox {
    margin-bottom: 20px;

    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            color: #141414;
            font-family: "PT Sans", sans-serif;
            margin-right: 28px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #858B89;
                position: relative;
                transition: 0.3s;

                &:hover {
                    color: #141414;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url('../images/ebook/breadcrumb-arrow.svg') no-repeat center / 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -27px;
                    margin-top: 1px;
                }
            }
        }
    }
}

.ebooksingle__formsection .imgwrap {
    height: 380px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.ebooksingle__form {
    background: #fff;
    border-radius: 12px;
    padding: 32px;

    h6 {
        margin-bottom: 12px;
        color: #141414;
        font-size: 20px;
        line-height: 135%;
        font-weight: 500;
        font-family: 'PowerGrotesk';
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    .subscribenews__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 44px;
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;
        background: #CDF765;
        border-radius: 8px;
        color: #141414;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        transition: 0.3s;
        border: none;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background: #141414;
            color: #fff;
        }
    }

    .inputfield {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
        padding-right: 20px;

        input {
            height: 44px;
            border: none;
            background: transparent;
            border-bottom: 1px solid #CFD1CC;
            font-family: "PT Sans", sans-serif;
            width: 100%;
            font-size: 16px;

            &::placeholder {
                color: #858B89;
            }
        }
    }

}

.ebook-info__tags {
    margin-bottom: 27px;
    position: relative;

    span, a {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 30px;
        background: #fff;
        color: #858B89;
        font-family: "PT Sans", sans-serif;
        margin-right: 12px;
    }

    .ebook-share {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        svg {
            max-width: 100%;

            path {
                transition: 0.3s;
            }
        }

        &:hover {
            svg {
                path {
                    stroke: #141414;
                }
            }
        }
    }
}

.ebook-info {
    font-family: "PT Sans", sans-serif;
    padding-left: 24px;

    h1 {
        margin-bottom: 24px;
        color: #141414;
        font-size: 40px;
        font-weight: 500;
        font-family: 'PowerGrotesk';
        line-height: normal;
    }

    p {
        color: #303030;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.recentlyebooks {
    background: #EDEFEE;
    padding: 60px 0 120px;

    h4 {
        margin-bottom: 24px;
        color: #0F0F10;
        font-size: 32px;
        font-weight: 500;
        font-family: 'PowerGrotesk';
    }

    .col-xl-4 {
        margin-bottom: 20px;
    }
}

.ebook-item {
    height: 100%;
}

.ebooksingle__form .checkebfield {
    margin-top: 12px;
    margin-bottom: 0;
}

.ebook-info__tags {
    padding-right: 30px;
}


@media(max-width:1399.8px) {

    .ebookhero {
        padding: 125px 0 100px;

        .col-xl-4 {
            &:nth-child(1) {
                width: 100%;
                max-width: 36%;
                flex: 0 0 36%;
            }

            &:nth-child(2) {
                width: 100%;
                max-width: 34%;
                flex: 0 0 34%;
            }

            &:nth-child(3) {
                width: 100%;
                max-width: 30%;
                flex: 0 0 30%;
            }
        }
    }

    .ebookhero__info h1 {
        line-height: normal;
    }

    .ebookhero__form {
        padding: 32px;

        .title {
            text-align: center;
            margin-bottom: 12px;
        }
    }

    .checkebfield label {
        font-size: 13.8px;
    }

}

@media(max-width:1199.8px) {
    .ebookhero .col-xl-4 {
        &:nth-child(1) {
            order: 3;
            max-width: 100%;
            flex: 0 0 100%;
        }

        &:nth-child(2) {
            order: 1;
            max-width: 50%;
            flex: 0 0 50%;
        }

        &:nth-child(3) {
            order: 2;
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .ebookhero__form {
        max-width: 100%;
    }

    .ebookhero__info p {
        max-width: 100%;
    }

    .subscribenews__descr {
        margin-bottom: 40px;
    }

    .subscribenews p br {
        display: none;
    }

    // ----
    .recentlyebooks .col-xl-4:nth-child(3) {
        display: none;
    }

    .recentlyebooks {
        padding-bottom: 100px;
    }
}

@media(max-width:991.8px) {
    .ebooksingle {
        padding-top: 120px;
    }

    .breadcrumbbox {
        margin-bottom: 16px;
    }

    .ebooksingle__formsection {
        display: flex;
        flex-wrap: wrap;

        .imgwrap,
        .ebooksingle__form {
            width: 100%;
            max-width: 50%;
            flex: 0 0 50%;
        }

        .imgwrap {
            height: 255px;
        }

    }

    .ebooksingle__form h6 {
        text-align: center;
        margin-bottom: 14px;
        font-size: 19px;
    }

    .ebooksingle__form .inputfield,
    .ebooksingle__form .subscribenews__btn {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ebooksingle__form .inputfield {
        padding-right: 0;
    }


    .ebooksingle__formsection .imgwrap {
        border-radius: 12px;
    }

    .ebooksingle__form {
        .inputfield {
            order: 1;
        }

        .checkebfield {
            order: 2;
            margin-bottom: 12px;
        }

        .subscribenews__btn {
            order: 3;
        }
    }

    .ebook-info {
        padding-left: 0;
        padding-top: 40px;
    }

    .ebook-info__tags {
        margin-bottom: 32px;
    }

}

@media(max-width:767.8px) {
    .ebookhero .col-xl-4:nth-child(2) {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ebookhero .col-xl-4:first-child {
        order: 2;
    }

    .ebookhero .col-xl-4:nth-child(3) {
        order: 3;
    }

    .ebookhero .gradient-bg {
        display: none;
    }

    .ebookhero__imgwrap {
        margin-bottom: 20px;
    }

    .ebookhero__info {
        margin-bottom: 40px;
    }

    .ebookhero .col-xl-4:nth-child(3) {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .subscribenews h3 {
        font-size: 32px;

        br {
            display: none;
        }
    }

    .subscribenews {
        padding: 44px 30px;
    }

    .subscribenews__descr {
        margin-bottom: 32px;
    }

    .ebooksingle__formsection .imgwrap,
    .ebooksingle__formsection .ebooksingle__form {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ebooksingle__form h6 {
        font-size: 20px;
    }

    .ebooksingle__form .checkebfield {
        margin: 16px 0 32px;
    }

    .ebook-info {
        padding-top: 60px;
    }

    .ebook-info__tags {
        margin-bottom: 20px;
    }

    .ebook-info h1 {
        font-size: 32px;
    }

}

@media(max-width:575.8px) {
    .ebookhero__info h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .ebookhero__info .tags {
        margin-bottom: 28px;
    }

    .ebookhero__info p {
        font-size: 14px;
    }

    .ebookhero__imgwrap img {
        max-width: 240px;
    }

    .ebookhero {
        padding: 85px 0 120px;
    }

    .ebookssection {
        padding: 64px 0;
    }

    .ebookssection__header h4,
    .ebookssection__header .ebookssection__header-select {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .ebookssection__header h4 {
        margin-bottom: 20px;
    }

    .ebookssection__header {
        margin-bottom: 40px;
    }

    .ebpagination ul li:last-child {
        margin-left: 6px;
    }

    .ebpagination ul li:first-child {
        margin-right: 6px;
    }

    .subscribenews__form .inputfield,
    .subscribenews__form .subscribenews__btn {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .subscribenews__form .inputfield {
        margin-bottom: 20px;
        padding-right: 0;
    }

    .ebook-info__tags a, .ebook-info__tags span {
        font-size: 14px;
    }


}

@media(max-width:420.8px) {
    .subscribenews h3 {
        line-height: normal;
    }

    .subscribenews p {
        font-size: 14px;
    }

    .ebook-item .description h6 {
        margin-bottom: 4px;
    }

    .ebook-item .imgwrap {
        height: 200px;
    }

    .ebooksingle__form .checkebfield label {
        font-size: 13.5px;
    }

    .recentlyebooks .ebook-item .description {
        padding: 16px 20px 20px 20px;
    }















}






// font-family: 'PowerGrotesk';